/* line 9, /Users/charlotte/cjmanetta.github.io/source/stylesheets/projects.css.scss */
.project img {
  border-radius: 2px; }
/* line 13, /Users/charlotte/cjmanetta.github.io/source/stylesheets/projects.css.scss */
.project .info {
  text-align: left;
  width: 260px;
  margin: 0.5em auto; }
  /* line 18, /Users/charlotte/cjmanetta.github.io/source/stylesheets/projects.css.scss */
  .project .info p {
    padding: 2px; }
  /* line 22, /Users/charlotte/cjmanetta.github.io/source/stylesheets/projects.css.scss */
  .project .info .extra {
    float: right;
    color: gray;
    font-size: 0.85em; }
/* line 30, /Users/charlotte/cjmanetta.github.io/source/stylesheets/projects.css.scss */
.project .tags .ui.label {
  background-color: #05756f;
  color: white; }
